html {
  scroll-behavior: smooth;
}
.menu a, a:hover {
  text-decoration: none;
}

.logo {
  width: 200px;
  height: 150px;
  margin-top: -32px  ;
  margin-bottom: -200px;
  margin-left: -40px;

}



nav{
  position: relative;
  background: #3a9e38;
  display: flex;
  margin-right: -9px;
  margin-left: -9px;
  margin-top: -20px;
  /* overflow: hidden; */
  height: 80px;
  


}


nav a{
  color: white;

}

nav a:hover{
  color: #2eec2b;
  font-size: large;
  border-color: white;
  border-radius: 5%;
  border-style: solid;
}



.menu {
  display: flex;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.menu li{
  padding: 15%;
  font-size: 16px;
}

.toggle {
  font-size: 30px;
  display: none;
}

h1 {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 5vw;
  transition:  1s ease;

}
h3{
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
}
p {
  font-size: clamp(16px, 2vw, 20px);
}

body {

    background: linear-gradient(to bottom,  #E0FBE2, #BFF6C3, #B0EBB4);

  
}

header {
  margin-top: 5%;
}

footer {
  margin-right: -9px;
  margin-left: -9px;
  margin-bottom: -20px;

  background-color:#365E32 ;
  color: white;
  position: relative;
  text-align: center;
  /* display: none; */

}

.container {
  transition:  1s ease;

  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  width: 1000px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  overflow: hidden;
}

img {
  margin-top: -150px;
  margin-bottom: -160px;
  max-width: 100%;
  height: auto;
}

.txt {
  top: 10%;
  left: 10%;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 15px;
}

.button:hover {
  background-color: darkblue;
}

.sampleimg {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20%;
  gap: 50px;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 5%;
}

.sampleimg img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 15px;
}

.copyright {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}



.fb{
    font-size: 40px;
    color:  blue;

    margin-bottom: 20px;

}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}



@media screen and (max-width: 600px) {

  nav{
    display: block;
    position:relative;
    padding-top:-5px ;
    background-color: green;
    transition:  1s ease;
    
  }

  nav a{
    font: bolder;
  color:white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: all 1s ease-in-out;
}

  .logo {
    position:absolute;
    width: 200px;
    height: 150px;
    margin-top: -33px  ;
    margin-bottom: -200px;
    margin-left: -60px;
    background: transparent;
    transition:  1s ease;

  }


  .menu{
    margin-top: 15px;
    display: none;
    transition: all 1s ease;
    

   
  }
  

  .menu.active, .toggle{
    position: absolute;
    text-align: right;
    width:75%;
    display:block;
    z-index: 10;
    background: green;
    border-radius: 10%;
    margin-top: 20%;
    margin-left: 30%;
    padding: 0;

    
    
    

  }

  .toggle{
    margin-top: 5px;
    background: transparent;
    width: 30px;
    position: absolute; 
    top: 20px;
    right: 20px;
    padding-top: 12px;
    transition: all 1s ease;

    
  }


  /* for mobile scrolling */
  .sampleimg {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain ;
    padding: 5%;
  }

  .snaps {
    scroll-snap-type: inline mandatory;
  }

  .snaps > * {
    scroll-snap-align: start;
  }

  .pics{
    padding: 5%;
    background: transparent;
    border-radius: 15px;
    display:grid ;

  }

  .pics img{
    border-radius: 15px;
    width: 100%;

  }

  /* end mobile scrolling */
 
  body {
    text-align:center;
  }

  .fb{
    color:  teal;
  }

  footer {
  background-color: #365E32;
  color: white;
  position: relative;
  margin-right: -10px;
  margin-left: -10px;


  }
  p {
    margin-right: 15px;
    margin-left: 15px;
  }

  h1 {
    font-family: "Arial", sans-serif;
    font-size: 12vw;
  }

  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 250px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }

  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }

  .creators {
    display: block;
    padding-bottom: 50px;

    }

    .links {
    display: block;
    width: 100%;
    margin-bottom: -20px;
    }

    .copyright {
        padding-top: 5px;
    }


}


@media (max-width: 768px) {
  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }
}

@media (min-width: 601px) {
  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }



}

.creators {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.links {
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links:hover {
  color: darkgreen;
}
