html, body{
  scroll-behavior: smooth;
  /* width: 100%;
  height: 100%; */
}


.logo {
  width: 200px;
  height: 150px;
  margin-left: -80px;
  animation: rotateInfi 5s ease-in 1.5s infinite normal none;

  /* margin-top: -32px  ;
  margin-bottom: -200px;
  /* animation: rotate 4s ease-in 0s infinite normal none; */

}

.bigLogo {
  animation: rotate 2s ease-in-out 0s 1 normal none;

}




nav{
  padding: 10px 30px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  background: #3a9e38;
  position: relative;
  margin-right: -9px;
  margin-left: -9px;
  margin-top: -20px;
  height: 60px;
}

nav ul{
  display: flex;
  gap: 40px;
  align-items: center;

}

nav ul li{
  list-style-type: none;
  padding-top: 10px;
}

nav ul li a{
  display: inline-flex;
  text-decoration: none;
  color: white;
  padding-right: 20%;
  padding: 20%;
  border-radius: 12%;
  margin-right: 10px;
}

nav ul li a:hover{
  background-color: green;
  border-style:outset;
}

.toggle{
  display: none;
}

.toggle ion-icon{
  font-size: 25px;
  color: white;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 5vw;
  animation: fadeIn 3s;

}

h3{
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
}



p {
  font-size: 18px;
  animation: fadeIn 7s;
  font-family: "Gill Sans Extrabold", sans-serif;

}

body {

    background: linear-gradient(to bottom,  #E0FBE2, #BFF6C3, #B0EBB4);


}

header {
  margin-top: 5%;
}

footer {
  margin-right: -9px;
  margin-left: -9px;
  margin-bottom: -20px;

  background-color:#365E32 ;
  color: white;
  position: relative;
  text-align: center;
  /* display: none; */

}

.container {
  transition:  1s ease;

  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );

  width: 1000px;
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  overflow: hidden;
}

img {
  margin-top: -150px;
  margin-bottom: -160px;
  max-width: 100%;
  height: auto;
}

.txt {
  top: 10%;
  left: 10%;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 15px;
}

.button:hover {
  background-color: darkblue;
}


.sampleimg{
  display: flex;
  gap: 50px;
  padding-right: 5%;
  padding-bottom: 5%; 
  padding-left: 5%;
  padding-top: 5%;
}
 
.sampleimg img{
  border-radius: 15px;
  
}



.copyright {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}



.fb{
    font-size: 40px;
    color:  blue;

    margin-bottom: 20px;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotateInfi{
  from{
    transform: rotate(0);

  }
  to{
    transform: rotateY(360deg);
  }
}

@keyframes rotate{
  from{
    transform: rotate(0);

  }
  to{
    transform: rotateY(1440deg);
  }
}


@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}



@media screen and (max-width: 600px) {



  nav ul{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction:column;
    text-align: center;
    background: #3a9e38;
    gap: 0;
    overflow: hidden;
    z-index: 10;

  }

  nav ul li{
    padding: 25px;
  }

  .toggle{
    display: block;
  }

  #menuList{
    transition: all 0.5s;
  }


  

 

  .logo {
    animation: rotateInfi 5s ease-in 1.5s infinite normal none;
    position:relative;
    margin-left: -90px;


  }

  .toggle ion-icon{
    margin-right: -20px;
    margin-top: 20px;
    font-size: 35px;
    /* transform: rotate(40deg); */


    
  }

 



  nav ul li{
    padding-bottom: 50px;
    padding-top: 10px;
  }
  
  nav ul li a{ 
    padding: 5%;
    border-radius: 15px; 
    display:flex;

    
  }

  nav ul li a:hover{
    background-color: green;
    border-style:ridge;
    overflow: hidden;
  }



  h1{
    animation: fadeIn 3s;

    /*name duration timing-function delay iteration-count direction fill-mode; */
  }

  /* for mobile scrolling */
  .sampleimg {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain ;
    padding: 5%;
    margin-left: 50px;
  }

  .snaps {
    scroll-snap-type: inline mandatory;
  }

  .snaps > * {
    scroll-snap-align: start;
  }

  .pics{
    padding: 5%;
    background: transparent;
    border-radius: 15px;
    display:grid ;

  }

  .pics img{
    border-radius: 15px;
    width: 100%;

  }

  /* end mobile scrolling */

  body {
    text-align:center;
  }

  .fb{
    color:  teal;
  }

  footer {
  background-color: #365E32;
  color: white;
  position: relative;
  margin-right: -10px;
  margin-left: -10px;


  }
  p {
    margin-right: 15px;
    margin-left: 15px;
    font-family: "Arial", sans-serif;

  }

  h1 {
    font-family: "Arial", sans-serif;
    font-size: 12vw;
  }

  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 250px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }

  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }

  .creators {
    display: block;
    padding-bottom: 50px;

    }

    .links {
    display: block;
    width: 100%;
    margin-bottom: -20px;
    }

    .copyright {
        padding-top: 5px;
    }


}


@media (max-width: 768px) {
  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }
}

@media (min-width: 601px) {
  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }



}

.creators {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.links {
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links:hover {
  color: darkgreen;
}
