html, body{
  scroll-behavior: smooth;
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.us{
  margin-bottom: -60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.team-dev{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 20px;
  margin-right:  30px;
  gap: 25px;
  margin-left: -500px;
  margin-bottom: -25px;
  background:transparent;
  width: 75%;
  margin-top: 30px;
  text-align: center;

}
#team{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.team-member {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.9);
  margin-bottom: 10px;
  padding: 20px;
  width: 30%;
  flex: 1 1 calc(33.333% - 1rem); 
}

.team-member:hover{
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #d3d3d3 0%, #7bed9f 74%);
}

.developer {
  display: flex;
  padding: 15px;
  padding-right: 25px;
  margin-bottom: -10px;
  background-color:#83b687;

  
}



.name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}
.name a{
color: black;
font-family:'Times New Roman', Times, serif;

}
.role {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
  font-style: italic;
}
.description {
  font-size: 0.9em;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.goals h2{
  font-family: Arial, Helvetica, sans-serif;
}
.goals {

border: 1px solid #ddd;
border-radius: 8px;
padding: 10px;
margin-bottom: 20px;
width: 50%;
height: 50%;

margin-right: 40%;
margin-top: 160px;
padding-left: -20px;
margin-left: 40px;
}
.goals:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);

}
.developer h1 {
  text-align: center;
font-size: 1.5em;
margin-bottom: 20px;
display:none;
}

.developer h2 {
  text-align: center;
font-size: 1.5em;
}

.goal {
margin-bottom: 20px;
}
.goal-title {
font-size: 1.2em;
font-weight: bold;
color: rgb(11, 63, 11);
margin-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;

}
.goal-description {
font-size: 1em;
color: #333;
font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 200px;
  height: 150px;
  margin-left: -80px;
  animation: rotateInfi 5s ease-in 1.5s infinite normal none;

  /* margin-top: -32px  ;
  margin-bottom: -200px;
  /* animation: rotate 4s ease-in 0s infinite normal none; */

}

.bigLogo {
  animation: rotate 2s ease-in-out 0s 1 normal none;

}




nav{
  padding: 10px 30px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  background: #3a9e38;
  position: relative;
  margin-right: -9px;
  margin-left: -9px;
  margin-top: -20px;
  height: 60px;
}

nav ul{
  display: flex;
  gap: 40px;
  align-items: center;

}

nav ul li{
  list-style-type: none;
  padding-top: 20px;
}

nav ul li a{
  display: inline-flex;
  text-decoration: none;
  color: white;
  padding-right: 20%;
  padding: 20%;
  border-radius: 12%;
  margin-right: 10px;
}

nav ul li a:hover{
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #d3d3d3 0%, #7bed9f 74%);
  color: black;
}

.toggle{
  display: none;
}

.toggle ion-icon{
  font-size: 25px;
  color: white;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

h1 {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 5vw;
  animation: fadeIn 3s;

}

h3{
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
}



p {
  font-size: 18px;
  animation: fadeIn 7s;
  font-family: "Gill Sans Extrabold", sans-serif;

}

body {
    width: 100%;
      background: linear-gradient(to bottom,  #E0FBE2, #BFF6C3, #B0EBB4);


}

header {
  margin-top: 5%;
}

footer {
  margin-right: -9px;
  margin-left: -9px;
  margin-bottom: -20px;

  background-color:#365E32 ;
  color: white;
  position: relative;
  text-align: center;
  /* display: none; */

}

.container {
  transition:  1s ease;

  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  margin: auto;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 90%; 
}

img {
  margin-top: -150px;
  margin-bottom: -160px;
  max-width: 100%;
  height: auto;
}

.txt {
  top: 10%;
  left: 10%;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  padding: 15px;
}

.button:hover {
  background-color: darkblue;
}


.sampleimg{
  display: flex;
  gap: 50px;
  padding-right: 5%;
  padding-bottom: 5%; 
  padding-left: 5%;
  padding-top: 5%;
}
 
.sampleimg img{
  border-radius: 15px;
  
}



.copyright {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}



.fb{
    font-size: 40px;
    color:  blue;

    margin-bottom: 20px;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes rotateInfi{
  from{
    transform: rotate(0);

  }
  to{
    transform: rotateY(360deg);
  }
}

@keyframes rotate{
  from{
    transform: rotate(0);

  }
  to{
    transform: rotateY(1440deg);
  }
}


@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}



@media screen and (max-width: 600px) {

  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
.team-dev{
    display: block;
    padding-top: 10px;
    margin-left: -15px;
    margin-bottom: -25px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #6da173;
    width: 100%;
    text-align: start;
    
}
  .developer {
    display: block;
    max-width: 800px;
    padding: 15px;
    padding-top: -5px;
    margin-right: -15px;
    padding-right: 25px;
    margin-bottom: -10px;
    background-color:#83b687;

    
}


.team-member {

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.9);
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
}
.name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
.name a{
  color: black;
  font-family:'Times New Roman', Times, serif;

}
.role {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    font-style: italic;
}
.description {
    font-size: 0.9em;
    line-height: 1.5;
}

.goals {
 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-bottom: 70px;
  width: 95%;
  margin-left: 3px;
  margin-top: 70px;

}
.developer h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: -50px;
  display: block;
  
}
#team{
  text-align: start;
}

.us{
  display: none;
}
.goal {
  margin-bottom: 20px;
}
.goal-title {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(11, 63, 11);
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;

}
.goal-description {
  font-size: 1em;
  color: #333;
}

    .copyright {
        padding-top: 5px;
    }
    
nav{
  margin-right: -15px;
}
  nav ul{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction:column;
    text-align: center;
    background: #3a9e38;
    gap: 0;
    overflow: hidden;
    z-index: 10;


  }

  nav ul li{
    padding: 25px;
    
  }

  .toggle{
    display: block;
  }

  #menuList{
    transition: all 0.5s;
  }

  #menuList ion-icon{
    font-size: 25px;
  } 

  #menuList .links{
    padding: 10px ;
  }


  

 

  .logo {
    animation: rotateInfi 5s ease-in 1.5s infinite normal none;
    position:relative;
    margin-left: -90px;


  }

  .toggle ion-icon{
    margin-right: -20px;
    margin-top: 20px;
    font-size: 35px;


    
  }

 



  nav ul li{
    padding-bottom: 50px;
    padding-top: 10px;
  }
  
  nav ul li a{ 
    padding: 5%;
    border-radius: 15px; 
    display:flex;

    
  }

  nav ul li a:hover{
    background-color: green;
    border-style:ridge;
    overflow: hidden;
  }



  h1{
    animation: fadeIn 3s;

    /*name duration timing-function delay iteration-count direction fill-mode; */
  }


  .container {
    width: 97%; 
    margin-left: 10px;
  }

  /* for mobile scrolling */

  .sampleimg {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 94%;
    gap: 20px;
    overflow-x: auto;
    overscroll-behavior-inline: contain ;
    padding: 5%;
    margin-left: 50px;
  }

  .snaps {
    scroll-snap-type: inline mandatory;
  }

  .snaps > * {
    scroll-snap-align: start;
  }

  .pics{
    padding: 5%;
    background: transparent;
    border-radius: 15px;
    display:grid ;

  }

  .pics img{
    border-radius: 15px;

  }

  /* end mobile scrolling */

  body {
    width: 100%;
    height: 100%;
    background: white;
  }

  .fb{
    color:  teal;
  }

  footer {
  background-color: #334e31;
  color: white;
  position: relative;
  margin-right: -15px;
  margin-left: -10px;


  }
  p {
    margin-right: 15px;
    margin-left: 15px;
    font-family: "Arial", sans-serif;

  }

  h1 {
    font-family: "Arial", sans-serif;
    font-size: 12vw;
  }

  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 250px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }

  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }

  .comp {
    padding-top: 16px;
    margin-left: -130px; 
    font-size: 1.5rem; 
    font-weight: bold; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


}


@media (max-width: 768px) {
  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }

  
}

@media (min-width: 601px) {
  .sampleimg img {
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .txt {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  img {
    margin-top: -100px;
  }

  .button {
    margin-top: 20px;
    margin-bottom: auto;
  }



}



.links {
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links:hover {
  color: darkgreen;
}
